@charset "utf-8";
/* CSS Document */

body{ background:url(../images/body.jpg) left top repeat-x; margin:0px; padding:0px; font-family:"Tahoma", Arial, Helvetica, sans-serif;}

img{ border:none;}
p{ margin:0px; padding:0px; font-size:12px; text-align:justify;}

#container{ width:980px; margin:0 auto;}

.main_bg{ width:980px; float:left;  background:url(../images/main_bg.jpg) center top no-repeat;}

#header{ width:962px; float:left; height:92px;}
.logo{ width:475px; float:left; margin-left:18px;}
.login{ width:100px; float:right; margin-top:10px;}

.nav{ width:962px; float:left; height:42px; margin-left:18px;}

.nav ul{ list-style:none; margin:0px; padding:0px;}
.nav ul li { font-size:14px; float:left; text-decoration:none; color:#fff; display:block; background:url(../images/line.jpg) right top no-repeat;}
.nav ul li a { padding-left:27px; padding-right:27px; font-size:14px; float:left; text-decoration:none; color:#fff; padding-top:12px; display:block;}
.nav ul li a:hover { text-decoration:none; background:#000000; color:#fff; padding-top:12px; display:block; height:32px;}
.nav ul li a.active { text-decoration:none; background:#000000; color:#fff; padding-top:12px; display:block; height:32px;}

/* Drop-down menu boxes */

.nav li ul {
	display: none;
	position: absolute;
	top: 135px;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	list-style:none;
	float:left;
	
}

.nav li:hover ul,
.nav li.hover ul
{
	display: block;
	width:190px;
	float:left;
	background-color:#000000;
	
}

.nav li ul li {
	display: block;
	border-bottom:1px dotted #FFF;
	width:190px;
}

.nav li ul li a {
	text-align: left;
	padding:5px;
	color:#FFF;
	width:190px;
	float:left;
	height:20px;
	background-color:#000;
}

.nav li:hover ul li a,
.nav li.hover ul li a
{
	background-color:#000;
}
.nav li ul li:hover a,
.nav li ul li.hover a
{
	color:#FFF;
	background-color:#176aa1;
	width:190px;
	height:20px;
	padding:5px;
}


#mid{ width:900px; float:left; margin:20px 0 0 40px;}

#left{ width:630px; float:left;}
#left h2{ font-size:19px;}

.blue_txt{ color:#004168;}
#right{ width:235px; float:left; margin-left:30px;}
.latest_property{ width:235px; float:left; height:396px; background:url(../images/latest_property_bg.jpg) left top no-repeat;}
.property_img{ width:200px; float:left; margin-left:20px; margin-top:100px; }
.content_property{ width:220px; float:left; margin-left:10px; font-size:12px; margin-top:20px;}
.content_head{ width:210px; float:left; font-size:17px; color:#333333; }
.light_blue_txt{color:#1fafe6; }

.prop_details{font-size:12px; text-align:justify; float:left; width:220px; margin-top:15px;}
.more{font-size:12px; font-weight:bold; text-align:right; float:right; width:220px; margin-top:15px; text-decoration:none;}


.moretxt{font-size:12px; font-weight:bold; }
a.moretxt {font-size:12px; font-weight:bold; text-decoration:none; color:#000; }
a.moretxt:hover {font-size:12px; font-weight:bold; text-decoration:underline; color:#000; }

#footer{ width:100%; float:left; background:url(../images/footer_bg.jpg) left top repeat-x; height:59px; margin-top:60px;}
.fot{ width:980px; margin:0 auto; margin-top:24px;}
.fot ul { margin:0px; padding:0px; list-style:none; margin-left:170px;}
.fot ul li { font-size:11px; color:#fff; float:left;}
.fot ul li a { font-size:11px; color:#fff; padding-left:15px; padding-right:15px; text-decoration:none; background:url(../images/arrow.png) left bottom no-repeat;  }
.fot ul li a:hover{ font-size:11px; color:#fff; text-decoration:underline;}