<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="strConnectionString" connectionString="Data Source=216.240.135.117,1850 ;Initial Catalog=rcollet_pms2011;User ID=rcollet_chblog;Password=pms2011;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
    <pages>
      <controls>
        <!--User Section -->
        <add tagPrefix="cross" src="~/controls/hedear.ascx" tagName="header"/>
        <add tagPrefix="cross" src="~/controls/Footer.ascx" tagName="footer"/>
        <add tagPrefix="cross" src="~/controls/topNavigation.ascx" tagName="navigation"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="cc1" />

        <!--Admin --> 
        <add tagPrefix="cross" src="~/admin/controls/heAder.ascx" tagName="adminHeader"/>
        <add tagPrefix="cross" src="~/controls/Footer.ascx" tagName="footer"/>
        <add tagPrefix="cross" src="~/admin/controls/leftnav.ascx" tagName="leftnav"/>
      </controls>
    </pages>
    
    <customErrors mode="Off"></customErrors>	
  </system.web>
  <appSettings>
    <add key="rootPath" value="http://www.bobcollett.com"/>
    
  </appSettings>
  
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
